@import './vars.scss';

.root {
  margin-top: 64px;
}

.transition {
  height: 50px;
  background-image: url('../graphics/bgFooterTransitionTile.svg');
  background-repeat: repeat-x;
  background-size: 16px 50px;
}

.body {
  background: #000;
  color: rgb(192, 191, 212);
  padding: 32px 0;
  font-size: .9em;
}

.wrapper {
  @include wrapper;
  display: flex;
  align-items: flex-end;
}

.info {
  margin-right: auto;
}

.disclaimer {
  margin-left: auto;
  text-align: right;
}
