.root {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-width: 256px;
}

.image {
  padding-bottom: 100%; // force 1:1 aspect ratio
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 12px;
  max-height: 256px;
  transition: background .2s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 0px 0px;
}

.title {
  flex: 1;
  // color: #FFB833;
  font-weight: bold;
  // color: #e47e2b;
  text-align: center;
  display: flex;
  align-items: center;
  max-width: 20ch;
  margin: 0 auto;
  margin-bottom: .25em;
}