@import './vars';

.root {
  max-width: 256px;
}

.programmer {
  display: flex;
  margin-right: auto;
  align-items: center;
  margin: .5em 0;
}

.programmer__icon {
  flex: 1;

  svg {
    width: 48px;
    height: 48px;
  }
}

.programmer__details {
  flex: 1.2;
  // margin-left: auto;
}

.programmer__name,
.programmer__id {
  display: block;
  // text-align: right;
}

.programmer__name  {
  margin-bottom: .25em;
  font-size: 1.1em;
  font-weight: $font-weight-bold;
}

.detailItem {
  display: flex;
  align-items: center;
  margin: .5em 0;
  height: 26px;
}

.detailItem__name {
  flex: 1;
  // margin-right: auto;
}

.detailItem__value {
  flex: 1.2;
  // margin-left: auto;
  font-variant-numeric: tabular-nums;
  display: flex;
  align-items: center;

  svg {
    height: 20px;
    width: auto;
  }
}

.iconFavoriteOff {
  * {
    fill: rgba(0, 0, 0, .3)
  }
}

.statList {
  display: flex;
  justify-content: space-between;
}

.stat {
  width: 8ch;
  padding: .5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat__icon {
  width: 32px;
  height: 32px;
}

.stat__counter {
  margin-top: .25em;
}

.mggUser {
  display: flex;
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  margin: .5em 0;
}

.mggUser__icon {
  width: 64px;
  height: 64px;
  display: block;
  margin-right: auto;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.mggUser__details {
  text-align: right;
}