@import '~reset-css';
@import './vars';

html, body {
  line-height: 1.25;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $global-font-family;
  font-weight: $font-weight-global;
  font-size: 16px;
}

* > * {
  box-sizing: inherit;
}

body {
  background-image: url('../graphics/bgTile.svg');
  background-position: center;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font-family;
  font-weight: $font-weight-header;
  margin-bottom: .2em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.05em;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  border-bottom: .1em currentColor dashed;
}

b, strong {
  font-weight: $font-weight-bold;
}

img {
  display: block;
}

svg {
  display: block;
  width: 1em;
  height: 1em;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Main {
  flex: 1;
}