.root {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-image: url('../graphics/bgTextureTile.svg');
  background-size: 6.25%; // 1 alpha grid for every 2 pixels
  max-width: 256px;
}

.image {
  padding-bottom: 100%; // force 1:1 aspect ratio
  background-repeat: no-repeat;
  background-size: 100%;
  // make sure texture is rendered crisply:
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  transition: background .2s;
  // box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 0px 0px;
}